div{
    height: 150px;
    width: 400px;
    box-shadow: 0 2px 0 0 red, 0 6px 4px 0 blue,0 11px 5px 0 rgb(22, 143, 22),0 18px 12px 0 rgb(179, 35, 35),0 29px 14px 0 rgba(255, 166, 0, 0.892),0 60px 30px 20px rgba(0, 255, 255, 0.553);
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
}